################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/lib
/java/.settings
/java/.project
/java/libthither/target
/java/libthither/.idea
/java/libthither/.project
/java/libthither/.classpath
/java/libthither/.settings
